@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .base-btn {
    @apply dark:disabled:bg-black
    dark:disabled:border-transparent
    dark:disabled:hover:border-transparent
    disabled:cursor-not-allowed
    dark:bg-fifthDark
    bg-fourthLight
    hover:border-secondaryLight
    border-transparent
    dark:hover:border-thirdDark;
  }
  .blue-btn {
    @apply
    border-transparent
    dark:hover:border-fourthDark
    dark:bg-thirdDark
    bg-secondaryLight
  }
  .outlined-blue-btn {
    @apply
    bg-transparent
    border-fourthLight
    hover:border-secondaryLight
    hover:bg-fourthLight
    text-fourthLight
    hover:text-black
    dark:bg-transparent
    dark:hover:bg-fourthDark
    dark:hover:text-black
    dark:text-fourthDark
    dark:hover:border-thirdDark
    dark:border-fourthDark;
  }
}
:root {
  font-family: 'Balsamiq Sans', cursive;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100svh;
  max-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: inherit;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  @apply bg-fourthLight dark:bg-secondaryDark;
}
*::-webkit-scrollbar-thumb {
  @apply bg-secondaryLight dark:bg-thirdDark;
  border-radius: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

.human {
  width: 200px;
  height: 200px;
  float: left;
  background: url('./assets/hangman.png') no-repeat;
  background-size: cover;
}

.step-6 {
  background-position: -200px 0;
}

.step-5 {
  background-position: -400px 0;
}

.step-4 {
  background-position: -600px 0;
}

.step-3 {
  background-position: -800px 0;
}

.step-2{
  background-position: -1000px 0;
}

.step-1 {
  background-position: -1200px 0;
}

.step-0 {
  background-position: -1400px 0;
}

.holtwood {
  font-family: 'Holtwood One SC', serif;
}